<h1>This is a Tenant</h1>

<h2>
Name: <%= @tenant.name%><br><br>
Address: <%= @tenant.apartment.address%>
</h2>

<h3>
<form action="/tenants/<%= @tenant.id %>/edit" method="get">
<input type="submit" value="Edit Tenant Info" />
</form>

<form action="/tenants/<%= @tenant.id %>" method="post">
<input type="hidden" name="_method" value="delete" />

<input type="submit" value="Delete Tenant :(" />
</form>

<form action="/tenants" method="get">
<input type="submit" value="Return to Tenants Page" />
</form>

</h3>