<h1>Become an Apartment Today!</h1>
<form action="/apartments" method="post">
<h2><label>Address</label></h2>
<p> <input type="text" name="address"></p>
<p> <input type="Submit"> </p>
</form>
<a class="button" href="/apartments">Go Back To Apartments</a>